<div class="row">
  <table class="table table-hover">
    <th>Chatroom</th>
    <th>Latest Post</th>
    <% @chatrooms.each do |chatroom| %>
    <tr class="chatroom-<%= chatroom.id %>">
      <td><%= link_to "Chatroom #{chatroom.id}",admin_chat_path(chatroom) %></td>
      <% if chatroom.chat_messages.count.zero? %>
      <td>No Messages</td>
      <% else %>
      <td><%= time_ago_in_words(chatroom.chat_messages.last.created_at) %> ago</td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
