 	     <table class="table table-hover">
        <tr>
          <th>Items</th>
          <th>User</th>
          <th>Price</th>
          <th>Status</th>

        </tr>
         <% @store.items.each do |item| %>
           <% item.orders.each do |order| %>
           <tr>
            <td> <%= order.id %></td>
            <td>  <%= User.find(order.user_id).first_name %></td>
            <td> 0 <%= order.total_price %></td>
            <td>  <%= order.status %></td>
          </tr>
            <% end %>
          <% end %>
          </tr>
       </table>
