
  <h1 class="shop-name"><%= @store.name.capitalize %></h1>
<div class="container">
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">@</a>
    <%= link_to "Orders", store_path(store: @store.slug, tab: @tab[0]), class: "nav-item nav-link" %>
  </nav>
</div>
  <div class="container">
  <div class="tab-content" id="nav-tabContent">
      <% if params[:tab]== "order"%>
        <%= render partial: "order_list"%>
      <% else %>
        <%= render partial: "item_list"%>
        <% end %>
     </div>
  </div>
