---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments?api_key=ENV['easypost_key']&shipment%5Bfrom_address%5D%5Bcity%5D=Denver&shipment%5Bfrom_address%5D%5Bcountry%5D=US&shipment%5Bfrom_address%5D%5Bemail%5D=support@foundsound.com&shipment%5Bfrom_address%5D%5Bname%5D=Found%20Sound&shipment%5Bfrom_address%5D%5Bphone%5D=4153334445&shipment%5Bfrom_address%5D%5Bstate%5D=CO&shipment%5Bfrom_address%5D%5Bstreet1%5D=1331%2017th%20st&shipment%5Bfrom_address%5D%5Bzip%5D=80219&shipment%5Bparcel%5D%5Bheight%5D=5&shipment%5Bparcel%5D%5Blength%5D=20.2&shipment%5Bparcel%5D%5Bweight%5D=65.9&shipment%5Bparcel%5D%5Bwidth%5D=10.9&shipment%5Bto_address%5D%5Bcity%5D=Denver&shipment%5Bto_address%5D%5Bcountry%5D=US&shipment%5Bto_address%5D%5Bemail%5D=gob1@example.com&shipment%5Bto_address%5D%5Bname%5D=Gob%20Bluth&shipment%5Bto_address%5D%5Bphone%5D=3031234567&shipment%5Bto_address%5D%5Bstate%5D=CO&shipment%5Bto_address%5D%5Bstreet1%5D=944%20s%20quitman%20st&shipment%5Bto_address%5D%5Bzip%5D=80219
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 81bc4e1d-0fba-423f-8d82-6cba53f31613
      Location:
      - "/api/v2/shipments/shp_93447d2819ff43cd8ad7ba23d420e083"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - be10dd5b19
      - bigweb4sj
      - easypost
      X-Backend:
      - easypost
      X-Proxied:
      - intlb1sj a892cfa518
      - lb4sj a892cfa518
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2018-02-14T22:47:51Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2018-02-14T22:47:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_1c8789aa7d1248eaac32f30649420d57","object":"Address","created_at":"2018-02-14T22:47:51Z","updated_at":"2018-02-14T22:47:51Z","name":"Found
        Sound","company":null,"street1":"1331 17th st","street2":null,"city":"Denver","state":"CO","zip":"80219","country":"US","phone":"4153334445","email":"support@foundsound.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9b55f5ae070c4afa89d5baea3c292c77","object":"Parcel","created_at":"2018-02-14T22:47:51Z","updated_at":"2018-02-14T22:47:51Z","length":20.2,"width":10.9,"height":5.0,"predefined_package":null,"weight":65.9,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_4f515c99cc1146f6a23b89cdaed1060f","object":"Rate","created_at":"2018-02-14T22:47:51Z","updated_at":"2018-02-14T22:47:51Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.98","currency":"USD","retail_rate":"25.80","retail_currency":"USD","list_rate":"22.98","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_93447d2819ff43cd8ad7ba23d420e083","carrier_account_id":"ca_b1d07d3c3966482b914cc8fd62f68fa1"},{"id":"rate_0bb428458d6a4c9281534f74f9acb8ca","object":"Rate","created_at":"2018-02-14T22:47:51Z","updated_at":"2018-02-14T22:47:51Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.19","currency":"USD","retail_rate":"9.85","retail_currency":"USD","list_rate":"7.41","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_93447d2819ff43cd8ad7ba23d420e083","carrier_account_id":"ca_b1d07d3c3966482b914cc8fd62f68fa1"},{"id":"rate_37f69f489bba4ec69112e927d8595db6","object":"Rate","created_at":"2018-02-14T22:47:51Z","updated_at":"2018-02-14T22:47:51Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.41","currency":"USD","retail_rate":"7.41","retail_currency":"USD","list_rate":"7.41","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_93447d2819ff43cd8ad7ba23d420e083","carrier_account_id":"ca_b1d07d3c3966482b914cc8fd62f68fa1"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_07a2b92db88e4f63a7b1ba7ea025277c","object":"Address","created_at":"2018-02-14T22:47:51Z","updated_at":"2018-02-14T22:47:51Z","name":"Gob
        Bluth","company":null,"street1":"944 s quitman st","street2":null,"city":"Denver","state":"CO","zip":"80219","country":"US","phone":"3031234567","email":"gob1@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_1c8789aa7d1248eaac32f30649420d57","object":"Address","created_at":"2018-02-14T22:47:51Z","updated_at":"2018-02-14T22:47:51Z","name":"Found
        Sound","company":null,"street1":"1331 17th st","street2":null,"city":"Denver","state":"CO","zip":"80219","country":"US","phone":"4153334445","email":"support@foundsound.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_07a2b92db88e4f63a7b1ba7ea025277c","object":"Address","created_at":"2018-02-14T22:47:51Z","updated_at":"2018-02-14T22:47:51Z","name":"Gob
        Bluth","company":null,"street1":"944 s quitman st","street2":null,"city":"Denver","state":"CO","zip":"80219","country":"US","phone":"3031234567","email":"gob1@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_93447d2819ff43cd8ad7ba23d420e083","object":"Shipment"}'
  recorded_at: Wed, 14 Feb 2018 22:47:51 GMT
recorded_with: VCR 4.0.0
