---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_U5mX7mmgKhHx7mGeR3ROcQa2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CJSP4tdS3qr8zo",
          "object": "customer",
          "account_balance": 0,
          "created": 1518473397,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "7a1a8a8ea1",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CJSP4tdS3qr8zo/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CJSP4tdS3qr8zo/subscriptions"
          }
        }
  recorded_at: Mon, 12 Feb 2018 22:09:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: customer=cus_CJSP4tdS3qr8zo&amount=1000&description=Rails+Stripe+customer&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_U5mX7mmgKhHx7mGeR3ROcQa2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Cannot charge a customer that has no active card",
            "type": "card_error",
            "param": "card",
            "code": "missing"
          }
        }
  recorded_at: Mon, 12 Feb 2018 22:09:57 GMT
recorded_with: VCR 4.0.0
