.footer {
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #000;
  height: 100px;
  font-size: 14px;
  width: 100%;
  bottom: 0px;
  position:fixed;
  color: $barely-blue;
  .developer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .profile-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 30px;
    }
  }
  a, a:visited {
    margin:10px;
    color:$barely-blue;
  }
  a:hover, a:focus {
    color:$light-blue;
  }
}
