
div.container {
  width:1500px;
  height: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
  padding: 5px;
  color:black;
}
.container h4{
margin: 40px 0px;
border-left: 2px solid black;
transition: all 2s;
}
.container h4:hover {
  text-decoration: none;
  padding-left: 40px;
}

.row{
  margin-bottom: 100px;
  // width: 1500px;

}

a {
  color: black;
}

.item{
border-top:2px solid black;
border-bottom:2px solid black;
height: 500px;
  // padding-top: 20px;
}
.card h2{
  text-decoration: underline;
}
.card{
  border:none;
  border-radius: 0px;
  border-left: 2px solid black;
}
.card-body p {
  font-size: 14px;
}

.col-4 img{
  margin-top:30px;
}


.checkout{
  margin-bottom: 100px;
}
.tagline{
  border:3px dashed black;
  top:160px;
  left:80px;
  position: absolute;
  padding: 20px;
  width: 240px;
  // margin-bottom: 40px;
}

.main {
  overflow-y: scroll;
}
