$barely-blue: #CAE1F1;
$light-blue: #3AD2EA;
$sans:  "Open Sans", sans-serif;


body {
  font-family: $sans;
  background-repeat: no-repeat;
  background-size: cover;
}


a {
  transition: 0.5s;
}

.store-edit{
  display: flex;
  flex-direction: row;
}
.store-status {
  margin: 30px;
}
.main-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  color:black;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

.title{
  font-family: 'Righteous', cursive;
}

.new-order{
  width: 500px;
  text-align: center;
  margin:100px;
  font-size: 30px;
}
.checkout{
  font-size: 30px;
}
.pay-button{
  margin-top:30px;
}

.card-img-top img {
  max-height: 200px;
  max-width: 200px;
}

.col-6 img {
  max-height: 400px;
  max-width: 400px;
}
