$light-blue: #3AD2EA;
$sans:  "Open Sans", sans-serif;

body {
  color: white;
  font-family: $sans;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content{
  display: flex;
  justify-content: center;
  width: 800px;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

.title{
  font-family: 'Righteous', cursive;
}

header a:visited, header a {
	color: #CAE1F1;
	text-decoration: none;
}

.home{
  margin-top:-10px;
  width: 40px;
}

.home li:hover{
  color: $light-blue;
}

a {
  color: white;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: $light-blue;
  outline: none;
  text-decoration: none;
}

#index-section{
background-color: white;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 75px;
  border-bottom: 2px solid white;
  background-color: black;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
.record img{
  margin-top: 0;
  width: 60px;
}

.container-fluid{
display: flex;
flex-direction: row;
justify-content: space-between;
}

#header #logo {
  float: left;
  margin-top: 20px;
}

.nav-menu-container i {
  color:white;
}
nav{
  margin-top: 20px;
}

.logo{
  width:400px;
}

@media (min-width: 1024px) {
  #header #logo {

    padding-left: 60px;
  }
}

  #header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
  }

  #header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid $light-blue;
  }



  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Nav Menu Essentials */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }

  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }

  .nav-menu > li {
    float: left;
  }

  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }

  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }

  .nav-menu ul li {
    min-width: 180px;
  }


  /* Nav Meu Container */
  #nav-menu-container {
    float: right;
    margin-top: 30px;
  }

  @media (min-width: 1024px) {
    #nav-menu-container {
      padding-right: 60px;
    }
  }

  @media (max-width: 768px) {
    #nav-menu-container {
      display: none;
    }
  }

  /* Nav Meu Styling */
  .nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
  }

  .nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: $light-blue;
  }

  .nav-menu > li {
    margin-left: 10px;
  }

  .nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
  }

  .nav-menu ul li {
    transition: 0.3s;
  }

  .nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
  }

  .nav-menu ul li:hover > a {
    color: $light-blue;
  }

  .nav-menu ul ul {
    margin: 0;
  }


  /*--------------------------------------------------------------
  #Footer
  --------------------------------------------------------------*/
#footer {
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 60px;
  font-size: 14px;
  width: 100%;
  bottom: 0px;
  position:fixed;
}

footer a {
  margin:30px;
}

footer a:hover {
  color:$light-blue;
}

a:visited{

color: white
}
