$barely-blue: #CAE1F1;
$light-blue: #3AD2EA;
$sans:  "Open Sans", sans-serif;
$cutive: 'Cutive Mono', monospace;


body {
  height: 100%;
  font-family: 'Overpass Mono', monospace;
  background-repeat: no-repeat;
  background-size: cover;
}

.alert{
  background-color: black;
  color: white;
  font-size: 18px;
}

a {
  transition: 0.5s;
}

.store-edit{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.col-3{
  display: flex;
  flex-direction: column;
}
.store-status {
  margin: 30px;
}
.main-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color:black;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 800px;
  margin-bottom: 100px;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

.title{
  font-family: 'Righteous', cursive;
}

.new-order{
  width: 500px;
  text-align: center;
  margin:100px;
  font-size: 30px;
}
.checkout{
  font-size: 30px;
}
.pay-button{
  margin-top:30px;
}


.card-img-top img {
  max-height: 200px;
  max-width: 200px;
}

.col-6 img {
  max-height: 400px;
  max-width: 400px;
}
