$light-blue: #3AD2EA;
$sans:  "Open Sans", sans-serif;

body {
  font-family: $sans;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  transition: 0.5s;
}

.main-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  color:black;
}



p {
  padding: 0;
  margin: 0 0 30px 0;
}

.title{
  font-family: 'Righteous', cursive;
}



#index-section{
background-color: white;
}




  /*--------------------------------------------------------------
  #Footer
  --------------------------------------------------------------*/
#footer {
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 60px;
  font-size: 14px;
  width: 100%;
  bottom: 0px;
  position:fixed;
}

footer a {
  margin:30px;
}

footer a:hover {
  color:$light-blue;
}
