<footer class="footer">
  <div class="developer-card">
    <h4>Zachary Landes</h4>
    <div class="profile-links">
      <a href="https://www.github.com/zacharylandes" target = "_blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/zacharylandes/"  target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
  </div>
  <div class="developer-card">
    <h4>Gabriel Afflito</h4>
    <div class="profile-links">
      <a href="https://www.github.com/GabrielAfflitto" target = "_blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/gabrielafflitto/"  target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
  </div>
  <div class="developer-card">
    <h4>Lee Chow</h4>
    <div class="profile-links">
      <a href="https://www.github.com/leepuppychow" target = "_blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/mingleechow/"  target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
  </div>
  <div class="developer-card">
    <h4>Max Stackhouse</h4>
    <div class="profile-links">
      <a href="https://www.github.com/maxscores" target = "_blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/maxfieldstackhouse/"  target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
  </div>
</footer>
