<footer id="footer">
  <a href="https://www.github.com/zacharylandes" target = "_blank"><i class="fab fa-github fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/zacharylandes/"  target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
</footer>
